@media only screen and (min-width: 300px) and (max-width: 359px){

input[type=text]{
	width:18rem;
	margin-left: 0rem;
}

input[type=password]{
	width:18rem;
	margin-left:0rem;
}

#loader{
	left:55%;
}

#load_tab{
	font-size: 20px;
	margin-top: 120%;
	margin-left:-3%;
}

#login{
	padding-top: 40%;
}

#Signin{
	padding-top: 40%;
}





}



@media only screen and (min-width: 360px) and (max-width: 400px){
	#loader{
		left:55%;
	}

#load_tab{
	font-size: 20px;
	margin-top: 125%;
	margin-left:-1%;
}

#login{
	padding-top: 45%;
}

#Signin{
	padding-top: 45%;
}

#mail-sm a{
	text-decoration: none;
	color: green;
}

#social-mdia{
	font-size: 35px;
}




/*CONTACT SECTION*/
.bgimg-2{
	background-image: url(../images/contct.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

input[type=text]{
	width:20rem;
	margin-left: 1rem;
}

input[type=password]{
	width:20rem;
	margin-left:1rem;
}

}



@media only screen and (min-width: 401px) and (max-width: 567px){
	#loader{
		left:55%;
	}

#load_tab{
	font-size: 20px;
	margin-top: 115%;
	margin-left:1%;
}

#login{
	padding-top: 45%;
}

#Signin{
	padding-top: 45%;
}


input[type=text]{
	width:22rem;
	margin-left: 2rem;
}

input[type=password]{
	width:22rem;
	margin-left:2rem;
}


}

@media only screen and (min-width: 568px) and (max-width: 600px){
	#loader{
		left:55%;
	}

#load_tab{
	font-size: 20px;
	margin-top: 115%;
	margin-left:1%;
}

#login{
	padding-top: 5%;
}

#Signin{
	padding-top: 1%;
}


input[type=text]{
	width:22rem;
	margin-left: 6rem;
}

input[type=password]{
	width:22rem;
	margin-left:2rem;
}


}

@media only screen and (min-width: 605px) and (max-width: 638px){
	#login{
		padding-top: 45%;
	}

	#Signin{
		padding-top: 45%;
	}
	

	input[type=text]{
	width:30rem;
	margin-left: 5rem;
}

input[type=password]{
	width:30rem;
	margin-left:5rem;
}

}



@media only screen and (min-width: 639px) and (max-width: 670px)
{

   #load_tab{
	font-size: 20px;
	margin-top: 40%;
	margin-left:-3%;
}

#login{
	padding-top: 2%;
}

#Signin{
	padding-top: 2%;
}



	#mail-ico{
	margin-left: 4rem;
	
}

#mail{
	margin-left: 11rem;
	margin-top: -4.8rem;
}

#mail a{
	text-decoration: none;
	color: green;
}



#call-ico{
	margin-left: 4rem;

}

#call{
	margin-left: 11rem;
	margin-top: -4.8rem;
}

input[type=text]{
	width:30rem;
	margin-left: 6rem;
}

input[type=password]{
	width:30rem;
	margin-left:6rem;
}

}

@media only screen and (min-width: 671px) and (max-width: 740px){
	input[type=text]{
	width:30rem;
	margin-left: 9rem;
}

input[type=password]{
	width:30rem;
	margin-left:9rem;
}

#load_tab{
	font-size: 20px;
	margin-top: 40%;
	margin-left:-3%;
}

#login{
	padding-top: 5%;
}

#Signin{
	padding-top: 5%;
}


}


@media only screen and (min-width: 741px) and (max-width: 767px)
{
	input[type=text]{
	width:30rem;
	margin-left: 11rem;
}

input[type=password]{
	width:30rem;
	margin-left:11rem;
}

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-3%;
}

#login{
	padding-top: 5%;
}

#Signin{
	padding-top: 5%;
}





}

@media only screen and (min-width: 768px) and (max-width:811px)
{
	input[type=text]{
	width:30rem;
	margin-left: 11rem;
}

input[type=password]{
	width:30rem;
	margin-left:11rem;
}

#loader{
	left:52%;
}

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-1%;
}

#login{
	padding-top: 50%;
}

#Signin{
	padding-top: 50%;
}



}

@media only screen and (min-width: 812px) and (max-width:900px)
{
	input[type=text]{
	width:30rem;
	margin-left: 11rem;
}

input[type=password]{
	width:30rem;
	margin-left:11rem;
}

#load_tab{
	font-size: 20px;
	margin-top: 40%;
	margin-left:-3%;
}

#login{
	padding-top: 2%;
}

#Signin{
	padding-top: 2%;
}




}

@media only screen and (min-width: 905px) and (max-width: 1200px){
	input[type=text]{
	width:30rem;
	margin-left: 18rem;
}

input[type=password]{
	width:30rem;
	margin-left:18rem;
}

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-3%;
}

#login{
	padding-top: 25%;
}

#Signin{
	padding-top: 25%;
}




}

@media only screen and (min-width: 1300px) and (max-width: 1400px){
   #login{
	   padding-top: 15%;
   }

   #Signin{
	padding-top: 15%;
}

	input[type=text]{
	width:40rem;
	margin-left: 23.5rem;
}

input[type=password]{
	width:40rem;
	margin-left:23.5rem;
}

}

