@media only screen and (min-width: 300px) and (max-width: 359px){



#loader{
	left:55%;
}

#load_tab{
	font-size: 20px;
	margin-top: 120%;
	margin-left:-3%;
}

#login{
	padding-top: 40%;
}

#Signin{
	padding-top: 40%;
}





}



@media only screen and (min-width: 360px) and (max-width: 400px){
	#loader{
		left:55%;
	}

#load_tab{
	font-size: 20px;
	margin-top: 125%;
	margin-left:-1%;
}

#login{
	padding-top: 40%;
}

#Signin{
	padding-top: 40%;
}

#mail-sm a{
	text-decoration: none;
	color: green;
}

#social-mdia{
	font-size: 35px;
}

.bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 812px;
    width: 100%;

  }



/*CONTACT SECTION*/
.bgimg-2{
	background-image: url(../images/contct.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}



}



@media only screen and (min-width: 401px) and (max-width: 567px){
	#loader{
		left:55%;
	}

#load_tab{
	font-size: 20px;
	margin-top: 115%;
	margin-left:1%;
}

#login{
	padding-top: 45%;
}

#Signin{
	padding-top: 45%;
}




.bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 823px;
    width: 100%;

  }

}

@media only screen and (min-width: 568px) and (max-width: 600px){
	#loader{
		left:55%;
	}

#load_tab{
	font-size: 20px;
	margin-top: 115%;
	margin-left:1%;
}

#login{
	padding-top: 5%;
}

#Signin{
	padding-top: 1%;
}




}

@media only screen and (min-width: 605px) and (max-width: 638px){
	#login{
		padding-top: 45%;
	}

	#Signin{
		padding-top: 45%;
	}
	

	

}



@media only screen and (min-width: 639px) and (max-width: 670px)
{

   #load_tab{
	font-size: 20px;
	margin-top: 40%;
	margin-left:-3%;
}

#login{
	padding-top: 2%;
}

#Signin{
	padding-top: 2%;
}



	#mail-ico{
	margin-left: 4rem;
	
}

#mail{
	margin-left: 11rem;
	margin-top: -4.8rem;
}

#mail a{
	text-decoration: none;
	color: green;
}



#call-ico{
	margin-left: 4rem;

}

#call{
	margin-left: 11rem;
	margin-top: -4.8rem;
}


}

@media only screen and (min-width: 671px) and (max-width: 740px){
	

#load_tab{
	font-size: 20px;
	margin-top: 40%;
	margin-left:-3%;
}

#login{
	padding-top: 5%;
}

#Signin{
	padding-top: 5%;
}


}


@media only screen and (min-width: 741px) and (max-width: 767px)
{
	

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-3%;
}

#login{
	padding-top: 5%;
}

#Signin{
	padding-top: 5%;
}





}

@media only screen and (min-width: 768px) and (max-width:811px)
{
	

#loader{
	left:52%;
}

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-1%;
}

#login{
	padding-top: 50%;
}

#Signin{
	padding-top: 50%;
}



}

@media only screen and (min-width: 812px) and (max-width:900px)
{


#load_tab{
	font-size: 20px;
	margin-top: 40%;
	margin-left:-3%;
}

#login{
	padding-top: 2%;
}

#Signin{
	padding-top: 2%;
}




}

@media only screen and (min-width: 905px) and (max-width: 1290px){
	

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-3%;
}

#login{
	padding-top: 25%;
}

#Signin{
	padding-top: 25%;
}

}

@media only screen and (min-width: 1300px) and (max-width: 1400px){
   #login{
	   padding-top: 15%;
   }

   #Signin{
	padding-top: 10%;
}

	
}

@media only screen and (min-width: 905px) and (max-width: 1290px) and (min-height: 800px) and (max-height: 1366px){
	#login{
		padding-top: 15%;
	}
 
	#Signin{
	 padding-top: 15%;
 }
 


 .bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1366px;
    width: 100%;

  }
 
 
 
 }

 /*FOR FULL HD SCREENS*/
 @media only screen and (min-width: 1300px) and (max-width: 1400px) and (min-height: 800px) and (max-height: 1024px){
	#login{
		padding-top: 20%;
	}
 
	#Signin{
	 padding-top: 15%;
 }
 
	
 
 .bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    width: 100%;

  }

  #load_tab{
	font-size: 20px;
	margin-top: 45%;
	margin-left:-3%;
}
 
 
 }

 /*FOR TABLETS*/
 @media only screen and (min-width: 905px) and (max-width: 1290px) and (min-height: 600px) and (max-height: 768px){
	

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-3%;
}

#login{
	padding-top: 25%;
}

#Signin{
	padding-top: 25%;
}

.bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 768px;
    width: 100%;

  }

  #load_tab{
	font-size: 20px;
	margin-top: 45%;
	margin-left:-3%;
}

}


@media only screen and (min-width: 768px) and (max-width:811px) and (min-height: 400px) and (max-height:1024px)
{


#loader{
	left:52%;
}

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-1%;
}

#login{
	padding-top: 50%;
}

#Signin{
	padding-top: 50%;
}

.bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    width: 100%;

  }

  #load_tab{
	font-size: 20px;
	margin-top: 75%;
	margin-left:1%;
}



}


@media only screen and (min-width: 905px) and (max-width: 1290px) and (min-height: 600px) and (max-height: 768px){
	

#load_tab{
	font-size: 20px;
	margin-top: 80%;
	margin-left:-3%;
}

#login{
	padding-top: 25%;
}

#Signin{
	padding-top: 25%;
}

.bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 768px;
    width: 100%;

  }

  #load_tab{
	font-size: 20px;
	margin-top: 45%;
	margin-left:-3%;
}

}


@media only screen and (min-width: 1410px) and (max-width:2040px) and (min-height: 700px) and (max-height:1024px)
{


#loader{
	left:52%;
}

#load_tab{
	font-size: 20px;
	margin-top: 35%;
	margin-left:2%;
}

#login{
	padding-top: 50%;
}

#Signin{
	padding-top: 50%;
}

.bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;

	}
	
	
	}

	#login{
		padding-top: 15%;
	}

	#Signin{
		padding-top: 10%;
	}




}