body{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
	height: 100%;


}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #20FEA5;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#load_tab{
	font-size: 20px;
	margin-top: 35%;
	margin-left:-2%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#top_nav{

	font-size: 18px;
}

#login_bttn{
	width: 150px;
}

#about{
	scroll-behavior: smooth;
}

#team{
	scroll-behavior: smooth;
}


.w3-bar .w3-button{
	padding: 16px;
}

#mySidebar{
	animation-duration: 0.3s;
	opacity: 0.9;
}

#nav-contnt{
	opacity: 1;
}

#hm-contnt{
	margin-top: 2rem;
}

.bgimg-1{
	background-image: url("../images/mac.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;
    width: 100%;

  }



#small{
	text-align:center;
	padding-top: 10px;	
}

#small-head{
	text-align: center;
	margin-top: -16rem;
}

#login-bttn{
	font-size: 20px;
	width: 12rem;
	margin-top: 3rem;
	

}


#about{
	margin-top: -3rem;
}

/*contact icon styles heres*/
#mail-ico{
	margin-left: 17rem;
	
}

#mail{
	margin-left: 25rem;
	margin-top: -4.8rem;
}

#mail a{
	text-decoration: none;
	color: green;
}



#call-ico{
	margin-left: 17rem;

}

#call{
	margin-left: 25rem;
	margin-top: -4.8rem;
}
/*END*/

/*SOCIAL MEDIA ICONS*/
#social-mdia{
	font-size: 55px;
}

#linkdin{
	padding-left: 15px;
}

#insta{
	padding-left: 15px;
}

#git{
	padding-left: 15px;
}
/*END*/

/*CONTACT SECTION*/
.bgimg-2{
	background-image: url(../images/contct.jpg);
	background-position: center;
    background-size: cover;
}

input[type=text]{
	width:40%;
	margin-left:25rem;
}

input[type=password]{
	width:40%;
	margin-left:25rem;
}